:global(.ui.modal) {
  >:global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}

:global(.ui.modal) {
  >:global(.content).content {
    display: flex;
    justify-content: space-between;
  }
}
