.imageWrapper {
  margin-bottom: 10px
}

:global(.ui.image).image {
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.btnImgLabel {
  margin: 0 0 0 10px;
}

:global(.ui.modal) {
  >:global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}